artifacts/
__pycache__/
*.pyc
*.log
.DS_Store

/openjevx
/openjevx.exe
/dist/
libonnxruntime.so
libonnxruntime.dylib
onnxruntime.dll
*.tar.gz
*.zip

.local/
data/*.jsonl
data/*.jsonl.gz
data/raw/
llmresults/*.jsonl
data/incoming/
